
html {
  height: 100%;
}

.whole-page {
	//background: linear-gradient(to bottom, $middle-gradient-color 0%, $secondary-brand-color 100%) no-repeat #a05fb7;
  min-height: 100%;
  height: 100%;
}

#firebaseui-auth-container {
  //margin-top: 50px;

}
